# Node modules
node_modules/

# Docs (генерована документація)
docs/

# Системні файли macOS
.DS_Store

# Логи
*.log

# Кеші npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Інші тимчасові файли
*.tmp
*.temp

# Конфігурації редакторів (якщо хочеш)
.vscode/
.idea/
