body {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  font-family: "JetBrains Mono", monospace;
  gap: 30px;
  padding: 0 16px;
  @include mobileScreen {
    min-height: 100dvh;
    gap: 16px;
  }
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./../assets/fonts/JetBrainsMono-VariableFont_wght.ttf")
    format("ttf");
  font-weight: 100 800;
  font-style: normal;
}

div.strength {
  & > div.tooWeak {
    span:nth-of-type(1) {
      background-color: $red;
      border-color: $red;
    }
  }

  & > div.weak {
    span:nth-of-type(1),
    span:nth-of-type(2) {
      background-color: $orange;
      border-color: $orange;
    }
  }

  & > div.medium {
    span:nth-of-type(1),
    span:nth-of-type(2),
    span:nth-of-type(3) {
      background-color: $yellow;
      border-color: $yellow;
    }
  }

  & > div.strong {
    span:nth-of-type(1),
    span:nth-of-type(2),
    span:nth-of-type(3),
    span:nth-of-type(4) {
      background-color: $light-green;
      border-color: $light-green;
    }
  }
}
